body {
    background-color: white;
}

h3 {
    color: rgb(25, 25, 25);
    font-family: var(--framer-font-family, Inter, Inter Placeholder, sans-serif);
}

p {
    color: rgb(25, 25, 25);
    --framer-font-family: "Inter", "Inter Placeholder", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(25, 25, 25);
}